<%- include('parts/html_head') %></body>
<title>Shopping_Cart</title>

</head>

<body>
    <%- include('parts/navbar') %>
    <div class="container">

        <table class="table table-bordered table-striped table-hover text-center">
            <thead>
                <tr class="table-primary">
                    <th scope="col" style="display: none">產品編號</th>
                    <th scope="col">商品</th>
                    <th scope="col">數量</th>
                    <th scope="col">單價</th>
                    <th scope="col">小計</th>
                    <th scope="col">取消</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < productId.length; i++){ %>
                <tr class="items">
                    <td class="product_id" style="display: none"><%= productId[i] %></td>
                    <td class="product_name"><%= productName[i] %></td>
                    <td class="product_qty"><%= productQty[i] %></td>
                    <td><span>$ </span><%= productUnitPrice[i] %></td>
                    <td><span>$ </span><span class="product_subtotal"><%= productQty[i] * productUnitPrice[i] %></span>
                    </td>
                    <td><button class="cancle_btn" ><i class="fas fa-trash-alt"></i></button></td>
                    <!-- <td class="product_category"><%= productCategory[i] %></td>  -->
                </tr>
                <% } %>
                <tr>
                    <td colspan="3">小計</td>
                    <td colspan="1"><span>$ </span><span id="subtotal"></span></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
        <form action="/place_order" method="POST" class="text-right">
            <input type="text" name="order_item_id" id="order_item_id" style="display: none">
            <input type="text" name="order_item_qty" id="order_item_qty" style="display: none">
            <input type="text" name="order_item_subtotal" id="order_item_subtotal" style="display: none">
            <input type="text" name="order_item_name" id="order_item_name" style="display: none">
            <button type="submit" class="btn btn-primary" onclick="placeOrder()">確認下單</button>
        </form>

    </div>

    <script>
        var shopping_cart_subtotal = 0;


        $(document).ready(function () {
            for (let i = 0; i < $('span.product_subtotal').length; i++) {
                shopping_cart_subtotal += parseInt($('span.product_subtotal').eq(i).text()); //網頁載入後先算小計
            }
            $('#subtotal').text(shopping_cart_subtotal);
        });

        $('button.cancle_btn').click(function () {
            let selected_product_name = $(this).parent().siblings('td').eq(1).text();
            if (confirm(`是否要取消"${selected_product_name}"的資料?`)) {
                $(this).parent().parent().remove();
            }
            shopping_cart_subtotal -= parseInt($(this).parent().siblings('td').eq(4).children('span.product_subtotal').text()); //小計扣除刪除的項目金額
            $('#subtotal').text(shopping_cart_subtotal);
        })

        function placeOrder() {
            let productId_toNode = [];
            let productQty_toNode = [];
            let productSubtotal_toNode = [];
            let productName_toNode = [];

            for (let i = 0; i < $('tr.items').length; i++) {
                productId_toNode.push($('tr.items').eq(i).children('td.product_id').text()); //等等從這裡開始
                productQty_toNode.push($('tr.items').eq(i).children('td.product_qty').text());
                productSubtotal_toNode.push($('tr.items').eq(i).children('td').eq(4).children('span.product_subtotal').text());
                productName_toNode.push($('tr.items').eq(i).children('td.product_name').text())
            }

            $('#order_item_id').val(productId_toNode);
            $('#order_item_qty').val(productQty_toNode);
            $('#order_item_subtotal').val(productSubtotal_toNode);
            $('#order_item_name').val(productName_toNode);
        }
    </script>

</body>

</html>